<nav>
    <a href="/">Home</a>
    <a href="/items">Items</a>
    <a href="/categories">Categories</a>
    <hr>
    <a href="/items/new">Create new item</a>
    <a href="/categories/new">Create new category</a>
</nav>