<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Inventory App</title>
</head>
<body>
    <nav>
        <a href="">Home</a>
        <a href="">Items</a>
        <a href="">Categories</a>
        <hr>
        <a href="">Create new item</a>
        <a href="">Create new category</a>
    </nav>
    <div id="indexBody">
        <h1>Welcome!</h1>
        <h2>Click <a href="">items</a> to view inventory</h2>
        <p>This is a practice project created for the full stack course on The Odin Project. Created by Simon Sahlin. <a href="https://github.com/Simon-Sahlin/Inventory-App-Demo">Github</a></p>
    </div>
</body>
</html>