@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: #ff3860;
    --red-dark: #ff1443;
    --red-darker: #c00f32;
    --red-light: #ff5c7c;
    --blue: #498afb;
    --blue-dark: #2674fa;
    --blue-light: #6ca0fc;
    --orange: #fa8142;
    --orange-dark: #f96a1f;
    --orange-light: #fb9865;
    --green: #09c372;
    --green-dark: #07a15e;
    --green-darker: #05633a;
    --green-light: #0be586;
    --purple: #9166cc;
    --purple-dark: #7d4bc3;
    --purple-light: #a481d5;
    --pink: #ff4088;
    --pink-dark: #ff1c72;
    --pink-light: #ff649e;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray5t: #0000005b;
    --gray6: #12181b;
    --gray7: #0b0d0e;
    --font-body: "sofia-pro",sans-serif;
    --font-head: 'Poppins', sans-serif;
    --font-code: "attribute-mono",monospace;
  }

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    padding-top: 5em;
}

a{
    color: black;
    transition: color .1s;
}
a:hover{
    color: rgb(160, 160, 160);
}

nav a {
    text-decoration: none;
}

h2{
    font-size: 1.3em;
}

#indexBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    padding-right: 20vw;
}

#indexBody p {
    width: 50ch;
    text-align: center;
}

#mainBody{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    padding-top: 3em;
}

#itemsWrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border: 2px solid lightblue;
    border-radius: 8px;
    padding: 16px;
    padding-right: 48px;
    gap: 16px;
    height: 4em;
    overflow: hidden;
}

.item div{
    width: 30px;
    height: 4em;
    padding: 1px;
    margin: -16px;
    margin-right: 0px;
}

.itemSellerP{
    flex-grow: 1;
    text-align: right;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 8px;
    border: 2px solid lightblue;
}

button{
    padding: 8px 16px;
    max-width: 100px;
    background-color: var(--blue-dark);
    border-radius: 8px;
    border: none;
    color: white;
}
button:hover{
    transition: background-color .1s;
    background-color: var(--blue);
}

.errorList{
    color: red;
    font-weight: 500;
}