<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Inventory App</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div id="mainBody">
        <h2>All Categories</h2>
        <hr>
        <div id="itemsWrapper">
            <% locals.categories.forEach(item => {%>
                <a href="categories/<%=item.id%>">
                    <div class="item">
                        <div style="<%= "background-color: hsl(" + Math.floor(Math.random() * 360) + ", 100%, 50%);" %>"></div>
                        <h3><%=item.name%></h3>
                    </div>
                </a>
            <% }); %>
        </div>
    </div>
</body>
</html>