<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Inventory App</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div id="mainBody">
        <h2>Create New Category</h2>
        <hr>
        <div id="itemsWrapper">
            <form action="/categories/new" method="post">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<%=locals.values.name%>" required>
                <%- include('../partials/errorList.ejs') %>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
</body>
</html>